<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.damai.chatroom">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application>


        <activity
            android:name=".view.ChatRoomActivity"
            android:windowSoftInputMode="stateHidden|stateUnspecified"></activity>
    </application>
</manifest>
