<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kcr.video">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:theme="@style/QMUI.Compat.NoActionBar">


        <activity
            android:name=".VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"></activity>
    </application>
</manifest>